.bas-des {
  .main_content {
    width: 100%;
    height: 100%;
    .sec-hero {
      background-image: url("../photo/content-one.png");
      width: 100%;
      height: 643px;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 111111;
      position: relative;
      overflow: hidden;
      .button-hero {
        button {
          padding: 0.5rem 0.6rem;
          border: 1px solid #fff;
          border-radius: 7px;
          background-color: rgba(255, 255, 255, 0.168627451);
          color: #fff;
          font-family: "light";
          transition: all 0.3s ease-in-out;
          font-size: 0.8rem;

          img {
            margin-right: 15px;
          }
          &:hover {
            background-color: var(--two-color);
            color: white;
          }
        }
      }

      // الشكل الدائري
      .circle {
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.199);
        opacity: 0.2;
        animation: randomCircleAnimation 8s ease-in-out infinite;
      }

      // الشكل المربع
      .square {
        position: absolute;
        background: rgba(255, 255, 255, 0.151);
        opacity: 0.2;
        animation: randomSquareAnimation 6s ease-in-out infinite;
      }

      @keyframes randomCircleAnimation {
        0% {
          width: 50px;
          height: 50px;
          top: 20%;
          left: 20%;
          transform: translate(-50%, -50%) scale(1);
          opacity: 0.2;
        }
        25% {
          width: 80px; /* حجم أكبر */
          height: 80px;
          top: 30%;
          left: 60%;
          transform: translate(-50%, -50%) scale(1.2);
          opacity: 0.2;
        }
        50% {
          width: 60px; /* حجم وسط */
          height: 60px;
          top: 50%;
          left: 40%;
          transform: translate(-50%, -50%) scale(1.5);
          opacity: 0.4; /* يصبح أكثر وضوحًا */
        }
        75% {
          width: 70px; /* حجم مختلف */
          height: 70px;
          top: 70%;
          left: 80%;
          transform: translate(-50%, -50%) scale(1);
          opacity: 0.3;
        }
        100% {
          width: 50px; /* العودة للحجم الأصلي */
          height: 50px;
          top: 20%;
          left: 20%;
          transform: translate(-50%, -50%) scale(1);
          opacity: 0.1;
        }
      }

      @keyframes randomSquareAnimation {
        0% {
          width: 40px;
          height: 40px;
          top: 10%;
          left: 10%;
          transform: translate(-50%, -50%) scale(1);
          opacity: 0.4;
        }
        25% {
          width: 70px; /* حجم أكبر */
          height: 70px;
          top: 30%;
          left: 30%;
          transform: translate(-50%, -50%) scale(1.2);
          opacity: 0.3;
        }
        50% {
          width: 50px; /* حجم وسط */
          height: 50px;
          top: 60%;
          left: 60%;
          transform: translate(-50%, -50%) scale(1.5);
          opacity: 0.2; /* يصبح أكثر وضوحًا */
        }
        75% {
          width: 60px; /* حجم مختلف */
          height: 60px;
          top: 40%;
          left: 80%;
          transform: translate(-50%, -50%) scale(1);
          opacity: 0.2;
        }
        100% {
          width: 40px; /* العودة للحجم الأصلي */
          height: 40px;
          top: 10%;
          left: 10%;
          transform: translate(-50%, -50%) scale(1);
          opacity: 0.1;
        }
      }
    }

    // إضافة العناصر بشكل ديناميكي
    .circle:nth-child(1) {
      animation-delay: 0s;
    }
    .circle:nth-child(2) {
      animation-delay: 1s;
    }
    .circle:nth-child(3) {
      animation-delay: 2s;
    }
    .circle:nth-child(4) {
      animation-delay: 3s;
    }

    .square:nth-child(1) {
      animation-delay: 0s;
    }
    .square:nth-child(2) {
      animation-delay: 1s;
    }
    .square:nth-child(3) {
      animation-delay: 2s;
    }
    .square:nth-child(4) {
      animation-delay: 3s;
    }

    .content-hero {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text-hero {
        width: 55%;
        h4 {
          color: white;
          font-family: "bold";
          font-size: 2.5rem;
        }
        p {
          color: #dbdbdb;
          font-family: "regular";
          font-size: 1rem;
          width: 100%;
          margin-top: 1rem;
        }
      }
      .img-hero {
        img {
          width: 100%;
        }
      }
    }
    .three-way {
      .headers {
        h4 {
          text-align: center;
          font-family: "bold";
          span {
            border-bottom: 2px solid var(--two-color);
          }
        }
      }
      .card-threeway {
        margin: 3rem 2rem;
        background: var(--nine-color);
        padding: 0.5rem;
        border-radius: 8px;

        .img {
          width: 100%;
          margin-top: -2.3rem;

          img {
            width: 95%;
            height: 250px;
            animation: upDown 3s ease-in-out infinite; // Add animation here
          }
        }

        .text {
          h4 {
            font-family: "bold";
            font-size: 0.9rem;
            text-align: center;
            margin-top: 0.8rem;
          }
          p {
            display: -webkit-box;
            -webkit-line-clamp: 3; // Limit to 3 lines
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis; // Add "..." for overflow text
            font-family: "regular";
            color: #636363;
            font-size: 0.7rem;
            &.expanded {
              -webkit-line-clamp: unset; // Show all text when expanded
              overflow: visible;
            }
          }
          button {
            background-color: var(--two-color);
            color: #fff;
            font-family: "regular";
            display: block;
            margin-inline-start: auto;
            border: 0;
            padding: 0.1rem 0.5rem;
            font-size: 0.6rem;
            border-radius: 4px;
          }
        }
      }

      // Keyframes for up-down animation
      @keyframes upDown {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px); // Moves the image up by 10px
        }
      }
    }
    .offers-descount {
      background-image: linear-gradient(
        to bottom right,
        var(--six-color),
        var(--two-color)
      );
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 437px;
      margin-bottom: 2rem;
      .allof {
        display: flex;
        justify-content: center;
        align-items: center;
        .img {
          width: 50%;
          img {
            width: 87%;
          }
        }
        .text {
          width: 50%;
          h4 {
            font-family: "bold";
            color: white;
            font-size: 1.8rem;
          }
          p {
            font-family: "regular";
            color: #dbdbdb;
            font-size: 1rem;
            width: 91%;
          }
        }
      }
    }
    .phone-text {
      margin-right: 7%;

      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
      .text {
        h4 {
          font-family: "bold";
          font-size: 1.8rem;
        }
        margin-top: 3rem;
        .button-text {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 10px;
          button {
            background: white;
            border: 1px solid;
            border-radius: 7px;
            font-size: 0.8rem;
            font-family: "regular";
            width: 100%;
            height: 45px;
            transition: all 0.3s ease-in-out;
            img {
              margin-right: 15px;
              width: 7%;
            }
            &:hover {
              background-color: var(--two-color);
              color: white;
              border: 1px solid var(--two-color);
            }
          }
        }
        p {
          font-family: "regular";
          color: #636363;
        }
      }
      .img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img.circle {
        width: 65%;
      }
      img.phone-img {
        width: 100%;
        position: absolute;
        top: -23%;
        left: 0;
        right: -2%;
        bottom: 0;
        animation: fade 4s infinite;
      }
      .phone-img:nth-child(2) {
        animation-delay: 2s;
      }
      @keyframes fade {
        0%,
        20% {
          opacity: 1;
        }
        25%,
        45% {
          opacity: 1;
        }
        50%,
        100% {
          opacity: 0;
        }
      }
    }
    .main-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 72px;
      background: var(--four-color);
      margin-bottom: 2rem;
      h4 {
        font-family: "bold";
        font-size: 1.5rem;
        span {
          border-bottom: 2px solid var(--two-color);
        }
      }
    }
    .insite-email {
      margin-bottom: 2rem;
      background-color: var(--six-color);
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;

      .content {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 441px;
          height: 284px;
          animation: moveUpAndDown 2s infinite; /* إضافة الانيميشن هنا */
        }

        h4 {
          color: white;
          font-family: "bold";
          font-size: 1.8rem;
          width: 90%;
        }

        p {
          color: #e5e5e5;
          font-family: "regular";
        }

        input[type="email"] {
          color: #fff;
          width: 90%;
          background: linear-gradient(
            to right,
            rgba(211, 211, 211, 0.6039215686),
            rgb(255 255 255 / 11%)
          );

          border: 1px solid white;
          border-radius: 7px;
          padding: 0.5rem 1rem;

          &::placeholder {
            font-family: "regular";
            color: #fff;
          }
          &::focus-visible {
            border: none !important;
            outline: none !important;
          }
        }

        button {
          width: 25%;
          margin-top: 1rem;
          padding: 0.3rem 7rem;
          border: 1px solid #fff;
          font-family: "regular";
          color: #fff;
          background: linear-gradient(
            to right,
            rgba(211, 211, 211, 0.6039215686),
            rgb(255 255 255 / 11%)
          );
          border-radius: 7px;
        }
      }
    }

    /* تعريف الانيميشن */
    @keyframes moveUpAndDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px); /* المسافة التي تتحرك لأعلى */
      }
      100% {
        transform: translateY(0);
      }
    }
    .come {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      .content {
        background-color: var(--fifve-color);
        width: 68%;
        height: 290px;
        margin: auto;
        border-radius: 7px;
        margin-bottom: 2rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .text {
          h4 {
            font-family: "bold";
            font-size: 1.4rem;
            color: white;
          }
          p {
            font-family: "regular";
            color: #e5e5e5;
            font-size: 0.9rem;
          }
          button {
            width: 52%;
            margin-top: 1rem;
            padding: 0.3rem 2rem;
            border: 1px solid #fff;
            font-family: "regular";
            font-size: 0.7rem;
            color: #fff;
            background: linear-gradient(
              to right,
              rgba(211, 211, 211, 0.6039215686),
              rgb(255 255 255 / 11%)
            );
            border-radius: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          a {
            text-decoration: none;
          }
        }
        .img {
          position: relative;
          img {
            width: 100%;
          }
          h4 {
            position: absolute;
            top: 7rem;
            right: 5rem;
            color: #fff;
            font-family: "light";
            transform: skew(-3deg, 5deg);
            font-size: 1.3rem;
          }
        }
      }
    }
    .ask-que {
      background-color: #f8f8f8;
      padding: 2rem;

      .header-ask {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        h4 {
          font-family: "bold";
          font-size: 1.8rem;
          margin-top: 3rem;
          margin-bottom: 2rem;

          span {
            border-bottom: 2px solid var(--two-color);
          }
        }
      }
      div#accordionExample {
        border: none !important;
        margin-top: 3rem;
        .accordion-button::after {
          margin-left: 0 !important;
          margin: auto;
          width: 40px;
          height: 40px;
          border: 1px solid black;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-position: center;
        }
        .accordion-item {
          margin-bottom: 1rem;
          border-radius: 7px;
        }
        button.accordion-button {
          background: #47767015;
          box-shadow: 0 !important;
          outline: none !important;
          border: none !important;
          font-family: "bold";
          color: black;
          border-radius: 7px;
        }
        .accordion-item {
          background: #4776700c;
          font-family: "regular";
          border-radius: 7px;
        }
        .accordion-button:focus {
          z-index: 3;
          border-color: none !important;
          outline: 0 !important;
          box-shadow: unset !important;
        }
      }
    }
  }
  .privacy-policy {
    margin: 2rem 0rem;
    .text {
      h4 {
        font-family: "bold";
        color: var(--seven-color);
        font-size: 1.5rem;
      }
      p {
        font-family: "regular";
        font-family: 1.1rem;
      }
    }
    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 90%;
      }
    }
  }
  .terms {
    margin: 2rem 0rem;
    .text {
      h4 {
        font-family: "bold";
        color: var(--seven-color);
        font-size: 1.5rem;
      }
      p {
        font-family: "regular";
        font-family: 1.1rem;
      }
    }
    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 90%;
      }
    }
  }
  .discount {
    .mid-dis {
      text-decoration: none;
    }
    .btn-more {
      margin-top: 3rem;
      button.more-dis {
        background: #a2391d;
        color: white;
        font-family: "regular";
        border: 0;
        padding: 0.5rem 1rem;
        border-radius: 18px;
      }
    }
    img {
      width: 362px;
      height: 265px;
    }
    a {
      color: black;
    }
    text-align: center;
    margin-top: 2rem;
    .all-dis {
      .small-code {
        background: #a2391d;
        padding: 0.3rem;
        border-radius: 10px 0 10px 0;
        color: white;
        margin-left: -11px;
      }
      .img-code {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          margin: 0;
          font-size: 0.6rem;
        }
      }
      button.code-btn {
        border: 1px solid #a2391d;
        width: 100%;
        padding: 0.5rem;
        color: white;
        background: linear-gradient(to right, transparent 50%, #a2391d 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        border-radius: 7px;
        transition: all 0.7s ease;
        position: relative;
        overflow: hidden;

        &:hover {
          background-position: left bottom;
          color: #a2391d;
          letter-spacing: 1px;
          border: 1px solid #a2391d;
          font-family: "bold";
        }

        &:active {
          transform: translateY(2px);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        }
      }

      .img-code {
        img {
          width: 60px;
          height: 60px;
          border-radius: 6px;
        }
      }
      .dis-tex {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 0;
        gap: 10px;
        .new {
          background-color: #a2391d;
          color: white;
          font-family: "regular";
          padding: 0.2rem 0.5rem;
          border-radius: 6px;
        }
        .old {
          text-decoration: line-through;
        }
      }
      .small-dis {
        position: absolute;
        background: white;
        top: 21px;
        width: 76px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 11111;

        border-radius: 10px 0px 0 10px;
        h6 {
          font-size: 0.7rem;
          color: #a2391d;
          font-family: "regular";
          margin-bottom: 0;
        }
      }
      text-align: start;
      border-radius: 10px;
      overflow: hidden;
      padding: 0.5rem;
      margin-top: 1rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      position: relative;
      p {
        font-size: 0.8rem;
        font-family: "regular";
        font-family: "regular";
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 6px;
        .circless {
          width: 30px;
          height: 30px;
          border: 1px solid #a2391d;
          border-radius: 50%;
          padding: 0.1rem;
          overflow: hidden;
        }
      }
      a {
        font-size: 0.8rem;
        display: block !important;
        margin-inline-start: auto !important;
        text-align: end;
        color: #a2391d;
        font-family: "regular";
        margin-top: -0.6rem;
      }

      .text {
        h4 {
          margin-top: 1rem;
          font-size: 1rem;
          font-family: "bold";
        }
      }
      .img {
        img {
          border-radius: 10px;
          transition: 0.5s;
        }
      }
      .img {
        overflow: hidden;
        transition: 0.7s;
      }

      &:hover .img img {
        transform: scale(1.4) rotate(15deg);

        filter: brightness(0.5);
      }
    }
    .hed-dis {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--four-color);
      h4 {
        font-family: "bold";
        font-size: 1.4rem;
        span {
          border-bottom: 2px solid var(--two-color);
        }
      }
    }
  }
  .discount-copone {
    a {
      color: black;
    }
    img {
      width: 362px;
      height: 265px;
    }
    text-align: center;
    margin-top: 5rem;
    .all-dis {
      .text {
        h4 {
          margin-top: 1rem;
          font-size: 1rem;
          font-family: "bold";
        }
      }
    }
    .hed-dis {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--four-color);
      h4 {
        font-family: "bold";
        font-size: 1.4rem;
        span {
          border-bottom: 2px solid var(--two-color);
        }
      }
    }
  }
  .discount-code {
    margin-bottom: 7rem;
    a {
      color: black;
    }
    img {
      width: 362px;
      height: 265px;
    }
    text-align: center;
    margin-top: 5rem;
    .all-dis {
      .text {
        h4 {
          margin-top: 1rem;
          font-size: 1rem;
          font-family: "bold";
        }
      }
    }
    .hed-dis {
      margin-bottom: 3rem;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--four-color);
      h4 {
        font-family: "bold";
        font-size: 1.4rem;
        span {
          border-bottom: 2px solid var(--two-color);
        }
      }
    }
  }
  .main-detalis {
    .swiper.mySwiper.swiper-initialized.swiper-horizontal.swiper-rtl {
      height: 75vh;
      margin-bottom: 2rem;
    }
    .swiper {
      img {
        width: 100%;
    height: 100%;
    object-fit: cover;
      }

      .swiper-button-prev {
        color: #a2391d;
      }
      .swiper-button-next {
        color: #a2391d;
      }
      .swiper-pagination-bullet-active {
        background-color: #a2391d;
      }
    }
    .frist-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h4 {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 6px;
        font-family: "bold";

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid #a2391d;
        }
      }
      p {
        background-color: #a2391d;
        color: white;
        font-family: "regular";
        font-size: 0.8rem;
        padding: 0.2rem 0.5rem;
        border-radius: 6px;
        margin-bottom: 0;
      }
    }
    .sec-text {
      h4 {
        font-family: "bold";
        font-size: 1rem;
        margin-top: 3rem;
      }
      p {
        font-family: "regular";
      }
      .dis-box {
        background-color: #a2391d;
        width: fit-content;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border-radius: 6px;
        p {
          margin-bottom: 0;
          color: white;
        }
      }
    }
    .last-text {
      p {
        font-family: "regular";

        margin-bottom: 0.8rem;
        span {
          margin-right: 0.5rem;
          font-family: "bold";
        }
      }
      i {
        background: #a2391d;
        padding: 0.5rem;
        border-radius: 50%;
        color: white;
      }
    }
      #map {
        margin-bottom: 1rem;
        }
  }
}
