.bas-des {
  .main_content {
    width: 100%;
    height: 100%;
    .learn {
      background-image: url("../photo/Group 1597882201.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 2.5rem;
      height: 587px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: start;
      .frist {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: #ffffff41;
        width: fit-content;
        border-radius: 45px;
        padding: 0.5rem;
        margin-bottom: 0.8rem;
        p {
          margin-bottom: 0;
          color: white;
          font-family: "light";
          font-size: 0.9rem;
          letter-spacing: 0.1rem;
        }
      }
      h4 {
        color: white;
        font-family: "bold";
        width: 48%;
        font-size: 46px;
        margin-bottom: 0.8rem;
        line-height: 4.2rem;
      }
      h6 {
        width: 27%;
        color: #c3cdd9;
        font-family: "regular";
        font-size: 0.9rem;

        line-height: 1.5rem;
      }
      button {
        width: 264px;
        height: 60px;
        border: 0;
        border-radius: 20px;
        font-family: "bold";
        color: #0f2239;
      }
      .man {
        width: 470px;
        height: 405px;
        margin-top: -18.5rem;
      }
      .tabs {
        .nav {
          gap: 5px;
        }
        padding: 1rem;
        width: 440px;
        background-color: white;
        border-radius: 20px;
        button {
          width: 99px;
          height: 40px;
          color: #909dad;
          font-family: "light";
          background-color: #f0f0f0;
        }
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
          color: #3c61dd !important;
          background-color: unset !important;
          border: 1px solid #3c62dd4b !important;
          font-family: "bold";
        }
        div#nav-tab {
          border: 0;
        }
        h4 {
          font-family: "bold";
          font-size: 1rem;
          margin-bottom: 0.5rem;
          line-height: 20px;
          width: 100%;
          color: black;
        }
        p {
          font-family: "regular";
          color: #546881;
          font-size: 0.8rem;
        }
      }
    }
  }
}
