.top_bar {
  background: var(--ten-color);
  color: var(--bg-color);
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  .top_bar_content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "regular";
    gap: 5px;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid var(--eight-color);
    }
    .btn {
      font-family: "light";
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      box-shadow: unset !important;
      border: 0;
      color: var(--bg-color);
    }
  }
}
