@media screen and (max-width: 1024px) {
  .bas-des .main_content .sec-hero .button-hero button {
    font-size: 0.6rem;
  }
  .bas-des .main_content .three-way .card-threeway {
    margin: 2rem 1rem;
    margin-top: 3rem;
  }
  .bas-des .main_content .phone-text .text .button-text button {
    height: 62px;
  }
  .bas-des .main_content .come .content {
    width: 100%;
  }
}
